.main-circle{
  width:15rem;
  height:15rem;
  border-radius:100%;
  margin:1 auto;
  color:blue;
  
  background-color:lightgreen;
}
.square{
  background-color:red;
  width:100%;
  height:2px;
}
body{
  background-color:grey;
}
h1{
  font-size:50px;
  padding-right:40px;
}
